/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background-color: #f4f0fc; */
    background-image: url('../images/polygon-scatter-haikei.svg'); 
    background-size: auto; /* whole background */
    background-attachment: fixed; 
    background-position: center; 
    color: #333;
    padding: 10px;
}

main {
    margin: 20px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.featured{
    display: grid
}

.intro-card {
    background: #001829; 
    border-radius: 12px; 
    overflow: hidden;
    text-align: center;
    width: 50%; 
    height: auto;
    margin: 0 auto; 
    color: white;
}

/* Card Grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    gap: 20px;
    padding: 20px;
}

/* Card */
.card {
    background: linear-gradient(145deg, #2c334f, #3a456a); 
    border-radius: 12px; 
    overflow: hidden; /* make sure size of card constant */
    text-align: center;
    width: 85%; /* thought it looks better */
    height: 420px;
    margin: 0 auto; 
    perspective: 1000px; 
    position: relative;  
    transform-style: preserve-3d; 
    transition: transform 0.6s; /* Smooth flipping animation */
}

/* Card Hover Effect */
.card:hover {
    transform: translateY(-10px); /* Lifts the card slightly */
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5), -6px -6px 10px rgba(255, 255, 255, 0.15); /* shadow effect on hover */
}

/* Image Styling */
.card img {
    width: 80%; 
    height: 250px; 
    display: block;
    margin: 10px auto; 
    border-radius: 10px; /* Matches card style */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Subtle border for elegance */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Add shadow to images */
}

/* Card Content */
.card-content {
    padding: 12px; 
    color: #f5f5f5; /* looks best for contrast */
}


.card-content h2 {
    margin-bottom: 15px;
    font-size: 1.6rem;
    color: #d7d7d7; /* Slightly darker than the text */
}

.card-content p {
    margin: 0;
    font-size: 1rem;
    color: #b0b0b0; 
}

/* Back of the Card */
.card-back {
    transform: rotateY(180deg); /* Rotates back to face the viewer when flipped */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    color: #f5f5f5;
}

.card-back .intro{
    margin: 10px;
    margin-bottom: 15%;
}

.card.flipped {
    transform: rotateY(-180deg);
  }



